## 1. Analyzing project data

# SAT Exams

The SAT (Scholastic Assessment Test) is a standardized test widely used for college admissions in the United States. It assesses a student's knowledge and skills in reading, writing, and mathematics. The exam consists of multiple-choice questions and an optional essay section.

## Test Sections

The SAT exam is divided into the following sections:

1. Reading: This section evaluates a student's reading comprehension skills through passages and questions based on them.
2. Writing and Language: This section focuses on grammar, sentence structure, and effective language usage.
3. Mathematics: The math section assesses a student's problem-solving abilities and mathematical reasoning. It includes both multiple-choice and grid-in questions.
4. Essay (Optional): The essay section measures a student's ability to analyze an argument and communicate their ideas effectively.

## Scoring

Each section of the SAT is scored on a scale of 200 to 800 points, resulting in a total score between 400 and 1600. The essay section is scored separately on a scale of 6 to 24.

## Brief
<br>
<p>Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. </p>
<p>In this notebook, we will take a look at data on SATs across public schools in a particular city. Our database contains a single table:</p>
<table>
<thead>
<tr>
<th>column</th>
<th>type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>school_name</code></td>
<td><code>varchar</code></td>
<td>Name of school</td>
</tr>
<tr>
<td><code>borough</code></td>
<td><code>varchar</code></td>
<td>Borough that the school is located in</td>
</tr>
<tr>
<td><code>building_code</code></td>
<td><code>varchar</code></td>
<td>Code for the building</td>
</tr>
<tr>
<td><code>average_math</code></td>
<td><code>int</code></td>
<td>Average math score for SATs</td>
</tr>
<tr>
<td><code>average_reading</code></td>
<td><code>int</code></td>
<td>Average reading score for SATs</td>
</tr>
<tr>
<td><code>average_writing</code></td>
<td><code>int</code></td>
<td>Average writing score for SATs</td>
</tr>
<tr>
<td><code>percent_tested</code></td>
<td><code>numeric</code></td>
<td>Percentage of students completing SATs</td>
</tr>
</tbody>
</table>
<p>Let's familiarize ourselves with the data by taking a looking at the first few schools!</p>

In [ ]:
# -- Select all columns from the database
# -- Display only the first ten rows

## 2. Count rows with percent_tested missing and total number of schools
<p>It looks like the first school in our database had no data in the <code>percent_tested</code> column! </p>
<p>Let's identify how many schools have missing data for this column, indicating schools that did not report the percentage of students tested. </p>
<p>To understand whether this missing data problem is widespread in New York, we will also calculate the total number of schools in the database.</p>

## 3. Count the number of unique building_code values
<p>There are 20 schools with missing data for <code>percent_tested</code>, which only makes up 5% of all rows in the database.</p>
<p>Now let's turn our attention to how many schools there are. When we displayed the first ten rows of the database, several had the same value in the <code>building_code</code> column, suggesting there are multiple schools based in the same location. Let's find out how many unique school locations exist in our database. </p>

## 4. Lets find the best math school
<p>Out of 375 schools, only 233 (62%) have a unique <code>building_code</code>! </p>
<p>Now let's start our analysis of school performance. As each school reports individually, we will treat them this way rather than grouping them by <code>building_code</code>. </p>
<p>First, let's find all schools with an average math score of at least 80% (out of 800). </p>

In [ ]:
-- Select school and average_math
-- Filter for average_math 640 or higher
-- Display from largest to smallest average_math

## 5. Find the lowest reading score
<p>Wow, there are only ten public schools in New York City with an average math score of at least 640!</p>
<p>Now let's look at the other end of the spectrum and find the single lowest score for reading. We will only select the score, not the school, to avoid naming and shaming!</p>

## 6. School for best writing and top 10 school
<p>The lowest average score for reading across schools in New York City is less than 40% of the total available points! </p>
<p>Now let's find the school with the highest average writing score.</p>

In [12]:
# -- Find the top score for average_writing
# -- Group the results by school
# -- Sort by max_writing in descending order
# -- Reduce output to one school

# -- past b : 

# -- Calculate average_sat
# -- Group by school_name
# -- Sort by average_sat in descending order
# -- Display the top ten results

## 8. Ranking boroughs
<p>There are four schools with average SAT scores of over 2000! Now let's analyze performance by New York City borough. </p>
<p>We will build a query that calculates the number of schools and the average SAT score per borough!</p>

In [13]:
# -- Select borough and a count of all schools, aliased as num_schools
# -- Calculate the sum of average_math, average_reading, and average_writing, divided by a count of all schools, aliased as average_borough_sat
# -- Organize results by borough
# -- Display by average_borough_sat in descending order

## 9. Brooklyn numbers
<p>It appears that schools in Staten Island, on average, produce higher scores across all three categories. However, there are only 10 schools in Staten Island, compared to an average of 91 schools in the other four boroughs!</p>
<p>For our final query of the database, let's focus on Brooklyn, which has 109 schools. We wish to find the top five schools for math performance.</p>

In [14]:
# -- Select school and average_math
# -- Filter for schools in Brooklyn
# -- Aggregate on school_name
# -- Display results from highest average_math and restrict output to five rows